body {
    background-color: black;
    color: #00FF00;
    font-family: 'Courier New', Courier, monospace;
}
header {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    background-color: #121212;
    width: 100%;
    padding: 15px 20px;
    font-size: 28px;
    gap: 15px;
}

#logo {
    height: 100px;
    width: 100px;
}

